<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="{% static "main/css/styles.css" %}">
    <title>{% block title %}Shop-Kipa App{% endblock %}</title>
</head>
<body>
    <header id="header">
        <a href="#"
          ><img
            src="{% static "main/images/shopkipalogo.png" %}"
            class="logo"
            alt="Shop-Kipa logo"
            width="100" 
            height="100" 
        /></a>
        <nav>
          <ul id="navbar">
            <li><a href="#" class="active">Home Page</a></li>
            <li><a href="#">Items</a></li>
            {% comment %} <li><a href="#">Furniture</a></li> {% endcomment %}
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            {% comment %} <li id="lg-bag">
              <a href="./html pages/basket.html"
                ><img src="./online-shopping (2).png" alt="shopping basket"
              /></a>
            </li> {% endcomment %}
            <a href="#" id="close"><i class="fa fa-times"></i></a>
          </ul>
        </nav>
        <div id="mobile">
          {% comment %} <a href="./html pages/basket.html"
            ><img src="./online-shopping (2).png" alt="shopping basket"
          /></a> {% endcomment %}
          <i id="bar" class="fa fa-outdent"></i>
        </div>
      </header>
      {% block content %}{% endblock %}
      <script src="{% static "main/scripts/script.js" %}"></script>
</body>
</html>