{% extends "main/base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% load static %}
<main>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static "main/images/time.jpg"%}" class="d-block w-100" alt="..." style="max-width: 100%; height: auto; display: block;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Efficient Inventory Solutions</h5>
          <p>Save time</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static "main/images/tracking.jpg"%}" class="d-block w-100" alt="..." style="max-width: 100%; height: auto; display: block;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Track and Optimize Effortlessly</h5>
          <p>Real-time tracking and smart analytics.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static "main/images/manage.jpg"%}" class="d-block w-100" alt="..." style="max-width: 100%; height: auto; display: block;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Streamline Your Stock Management</h5>
          <p>Reduce Costs</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
      <section id="features" class="section-p1">
        <header>
          <h2>App Features</h2>
        </header>
        <p>
          Explore Shop Kipa’s key features: 
          seamless browsing of quality products, easy order management, secure payment options, 
          personalized recommendations, and real-time inventory updates, 
          all designed to provide a smooth shopping experience.
        </p>

        <div class="fe-box">
            <img src="{% static "main/images/Big_phone_with_cart-removebg-preview.png"%}" alt="" />
          <h6>Smart Orders</h6>
        </div>
        <div class="fe-box">
            <img src="{% static "main/images/money.jpg"%}" alt="" />
          <h6>Cost Efficiency</h6>
        </div>
        <div class="fe-box">
            <img src="{% static "main/images/OE7IMX0 (1).jpg"%}" alt="" />
          <h6>24/7 support</h6>
        </div>
        <div class="fe-box">
            <img src="{% static "main/images/Big_phone_with_cart-removebg-preview.png"%}" alt="" />
          <h6>Tracking</h6>
        </div>
      </section>
</main>
{% endblock %}